
<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-offset-4 "><h1 class="alert alert-info  " role="alert">  Espace Administrateur </h1></div>

</div>



<br><br><br><br>

<br>

<div class="row">
    <div class="col-xs-6 col-md-4"><button class="btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-search"></span><br><h1>@Html.ActionLink("Gerer Etudiant", "GetListEtudiant")</h1></button></div>
    <div class="col-xs-6 col-md-4"><button class="btn btn-info btn-lg  btn-block"><span class="glyphicon glyphicon-cog"></span><br><h1>@Html.ActionLink("Gerer Branche", "GereSpecialite")</h1></button></div>
   
</div>
<br><br><br><br>


<br><br><br><br>

