



<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br>

<div class="row col-lg-offset-3">
    <div class="col-xs-6 col-md-4"><button class="btn btn-primary btn-lg btn-block"><br><h1>@Html.ActionLink("premier semestre ", "ModifierNote")</h1></button></div>
    <div class="col-xs-6 col-md-4"><button class="btn btn-primary btn-lg  btn-block"><br><h1>@Html.ActionLink("deuxième semestre", "ModifierNote1")</h1></button></div>

</div>
<br><br><br><br>


<br><br><br><br>
<style>
    a {
        color: white;
    }
</style>